#container{
    margin-top: 2%;
    padding-bottom: 50px;
    /*background-color: pink;*/
    height: auto;
    overflow:auto; /*them dong nay de div auto theo content: */
}
#left-site{
    width: 69%;
    height: auto;
    float: left;
}
#right-site{
    width: 30%;
    background-color: #222222;
    float: left;
    margin-left: 1%;
    margin-top: 5%;
    padding: 3% 1%;
    border-radius: 4px;
}
.clearboth{
    clear: both;
}

/*LEFT SITE*/
.head-left{
    width: 100%;
    float: left;
    color: #EEEEEE;
    font-size: 23px;
    font-family: segoeui;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    margin-bottom: 2%;

}
.head-left > p{
    display: block;
    width: 130px;
    /*margin-right: 70%;*/
    float: left;
    text-transform: uppercase;
}
.head-left > div{
    display: block;
    width: 95px;
    float: right;
    text-align: right;
    margin-bottom: 1%;
    margin-right: 10px;
}
.head-left > div> span{
    border-bottom: 1px solid #EEEEEE;

}

.item-cart{
    width:100%;
    float: left;
    border-bottom: 1px solid #707070;
    padding-bottom: 1%;
    margin-top: 1%;

}
.item-content{
    width:  100%;
    float: left;
}
.close-button{
    width: 40px;    
    float: right;    
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    height: 36px;
    border-radius: 100px;
}
.close-button:hover{
    cursor: pointer;
    background-color: #515151;
    color: red;
}
.item-image{
    width: 25%;
    float: left;
    max-width: 261px;
    max-height: 314px;
}
.item-image > img{
    width: 100%;
    margin-top: 10px;
}
.item-info{
    width: 60%;
    float: left;
    padding-left: 2%;
    color: #EEEEEE;
    font-family: segoeui;
}
.item-info > div{
    width: 100%;
    float: left;
}
.item-name{
    font-size: 24px;
}
.item-price{
    font-size: 24px;
}
.size-title{
    width: 30px;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold
}
.list-size{
    margin-left: 20px;
    width: 80%;
    float: left;
}
.size-item{
    padding-top: 6px;
    text-align: center;
    border-radius: 100%;
    height: 40px; width: 40px;
    border: 2px solid white;
    float: left;
    font-size: 14px;
    margin-right: 3%;
    margin-bottom: 2%;
}
.size-slected{
    background-color: white;
    color: black;
    font-weight: bold;
}
.size-item:hover{
    cursor: pointer;
    background-color: #515151;
}
.quantity-title{
    width: 91px;
    margin-top: 7px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.item-quantity{
    margin-top: 10px;
}
.item-quantity > select{
    width: 60%;
    max-width: 313px;
    height: 45px;
    float: left;
    background-color: transparent;
    border: 1px solid #707070;
    color: #EEEEEE;
    padding-right: 30px;
    text-align-last: right;
    text-indent: 10px;
}
.custom-select{
    /*background: rgb(255,255,255);*/
}
.item-quantity > select option{
    background-color: transparent;
    color: #000000;
}
.item-total{
    font-size: 24px;
    float: left;
    width: 200px;
    margin-left: 13px;
    margin-top: 20px;
}

.total-title{
    float: left;

}
.total-price{
    float: right;
    font-weight: bold;
    text-align: left;
}

/*RIGHT SITE*/
.btn-coupon{
    background-color: #515151;
    border-radius: 5%;
    border: none;
    color: #EEEEEE;
    font-size: 18px;
    font-family: segoeui;
    width: 60%;
    margin-left: 20%;
    margin-top: 8%;
    padding: 2%;
}
.coupon{
    border-bottom: 1px solid #707070;
    padding-bottom: 3%;
    width: 100%;
    float: left;
}
.title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    padding: 5%;
    text-align: center;
    float: left;
    width: 100%;
}
.detail{
    width: 100%;
    float: left;
    padding: 5% 0%;
    border-bottom: 1px solid #707070;
}
.sub-detail{
    width: 100%;
    float: left;
}
.sub-title{
    font-size: 18px;
    color: #EEEEEE;
    font-weight: bold;
    float: left;
}
.sub-price{
    font-size: 18px;
    color: #EEEEEE;
    float: right;
}
.checkout-total{
    width: 100%;
    float: left;
    padding: 5% 0%;
}
.btn-checkout{
    background-color: #515151;
    border-radius: 5%;
    border: none;
    color: #EEEEEE;
    font-size: 18px;
    font-family: segoeui;
    width: 100%;
    margin-top: 5%;
    padding: 2%;
    float: left;
}
.description{
    float: left;
    color: #EEEEEE;
    font-size: 16px;
    text-align: center;
    margin-top: 5%;
}
.disPrice{
    font-size: 24px;
}

.form-control{
    padding: 0 auto;
    background: none;
    background-color: #2C2C2C;
    font-weight: bold;
}
.btn-coupon.btn-danger{
    color: #fff !important;
    background-color: #E74C3C !important;
    border-color: #E74C3C !important;
}

.btn-coupon:hover,.btn-checkout:hover{
    background-color: #5cb85c;
    border-color: #4cae4c;
}
@media (max-width: 988px) {

    #left-site, #right-site{
        width: 100% !important;
        padding: 5px;
        padding-top: 10px;
        /*margin: 0;*/
    }
    .head-left > div{
        margin-right: 30px;
    }
    .head-left{
        width: 100%;
    }
    .item-image{
        width: 40%;
    }
    .item-content{
        width:  100%;
    }
    .item-info{
        width: 45%;
        float: left;
        padding-left: 2%;
        color: #EEEEEE;
        font-family: segoeui;
    }
    .item-info>div>p{
        padding: 0px;
        margin: 0px;
    }
    .close-button{
        float: right;
    }
    .item-total{
        width: 100%;
        height: 40px;
        margin-left: 0px;
    }
    .list-size{
        margin-left: 5px;
        width: 100%;
        float: left;
    }
}