@font-face {
    font-family: segoeui;
    src: url(../orther-rs/segoeui.ttf);
}
.navbar-collapse.collapse.in {
  display: block!important;
}
nav {
	background-color: #1E1E1E !important;
	color: #EEEEEE !important;
	padding-top: 28px;
	width: 100vw !important;
	min-width: 100% !important;
}
body{
	padding-top: 80px;
	background-color: #181818 !important;
	font-family: segoeui !important;
}
/*.navbar-nav > li > a, .navbar-brand {
    padding-top:0px !important; padding-bottom:0 !important;
    height: 40px;
}*/
.navbar {	
	padding-left: 20% !important;
}

.menu-item{
	margin-left: 3.9%; 
}
.nav-item{
	padding-right: 2.7%;
	white-space: nowrap;
	font-size: 18px;
}
.form-inline{
	/*form search*/
	width: 28%;
	min-width: 200px;
	margin-left: 16px;
}
.form-control{
	/*search text field*/
	width: 100% !important;
	height: 45px;
	/*border: 1px solid #707070 !important;*/
	border-radius: 15px;
	background: url(../img/icon/ic_search_white_24dp_1x.png) no-repeat scroll 7px 7px;
	background-color: #2C2C2C;
	padding-left:30px;
	padding-top: 10px;
	color: gray;
}
/*.form-inline img{
	position: absolute;
	height:24px;
	top: 21px;
	left: 524px;
}*/
.logo{
	width: 47px;
	height: 47px;
	margin-right: 16px;
	float: left;
	background: rgba(252,72,72,1);
	background: -moz-linear-gradient(-45deg, rgba(252,72,72,1) 0%, rgba(174,177,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,72,72,1)), color-stop(100%, rgba(174,177,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(252,72,72,1) 0%, rgba(174,177,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(252,72,72,1) 0%, rgba(174,177,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(252,72,72,1) 0%, rgba(174,177,255,1) 100%);
	background: linear-gradient(135deg, rgba(252,72,72,1) 0%, rgba(174,177,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4848', endColorstr='#aeb1ff', GradientType=1 );
	border-radius: 100px;
}
.navbar-brand{
	min-width: 225px;
	font-size: 30px;
	font-weight: lighter!important;
}
a.nav-link:hover{
	color: rgba(182,94,186,1)!important;
}

/*mobile*/
@media (max-width: 988px) {
	.form-inline{
		width: 85.5%;
	}
	.menu-item{
		margin-left: 10px; 
	}
	.logo{
		width:39px;
		height: 39px;
		margin-top: 5px;
	}
	.logo-text{
		margin-top: 4px;
	}
	.navbar-brand{
		min-width: 150px;
		font-size: 25px;
	}

}
@media(max-width: 1800px){
	.navbar {	
		padding-left: 8% !important;
	}
}
@media (max-width: 320px){
	.navbar-brand{
		margin-left: 0px;
		width: 200px!important;
	}

	nav{
		padding-left: 0px !important;
	}
}
/* tablet - desktop*/
@media (min-width: 989px) {
	.navbar {		
		max-height: 70px !important;
		min-height:50px !important;
		padding-left: 10px !important;
	}
	nav{
		padding-left: 5% !important;
	}
	.form-inline{
		min-width: 226px;
		margin-left: 0px;
	}
	
}
.hidden-this{
	visibility: hidden;
}