body{
	padding-top: 0px!important;
	top: 0px !important;
}
.main-page{
    background:  url(../img/index.jpg) no-repeat;
    background-size:     cover;                     
    /*background-repeat:   no-repeat;*/
    background-position: center top;   
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: 0px;
    /*opacity : 0.6;*/
}
.header-import{
	height: 0px;
}
.index-menu{
	font-size: 30px;
	color: #FFFFFF;
	width: 100%;
	/*background-color: pink;*/
	margin: 0 auto;
	height: auto;
	max-width:817px;
}
.main-opacity{
	padding-top: 55vh;
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
}
.imenu-Item{
	text-align: center;
	float: left;
	height: 90px
	/*width: 180px;
	width: auto;
	margin-left: 40px;
	margin-right: 40px;*/
	/*border: solid;*/
}
.imenu-Item a{
	display: inline-block;
	margin-top: 22px!important;
}
.imenu-Item:hover{
	cursor: pointer;
}
.name:hover{
	cursor: cell;
}
.footer-import{
	z-index: 999999;
}
.logo-Img{
	width: auto;
	height: 90px;
}
@media (max-width: 988px) {
/*	.imenu-Item{
		margin-left: 0;
		margin-right: 10%;
		margin: 0 auto;
	}
	.index-menu{
		padding-left: 5%;
		padding-right: 10px;
	}*/
	.main-opacity{
		padding-top: 35vh;
	}
}
