#container{
	height: 890px;
	padding: 20px;
	padding-top: 60px;
	padding-top: 50px;
}
#container>div{
	margin: 0 auto;	
	/*border: solid;*/
	padding: 0;
}
#main-logo{
	width: 227px !important;
	margin: 0 auto;
	/*width: 261px;*/
}
#main-fbtext{
	margin-top: 38px !important;
	font-size: 23px;
	text-align: center;
}
#lg-text{
	margin-top: 20px;
}
#lg-text>div{
	/*draw line*/
	width:100%; text-align:center; border-bottom: 1px solid #707070; line-height:0.1em; margin:10px 0 20px;
	display:inline-block;
}
#lg-text>div span{
	background:#181818; 
	padding:0 10px; 
}
.signup-form{
	width: 30%;
	min-width: 450px;
}
.form-row{
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 45px;
}
.form-collum1, .form-collum2{
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;

}
.form-input{
	height: 50px;
	width: 100%;
	border-radius: 5px;
}
.row3, .row4{
	padding-left: 10px;
	padding-right: 10px;
}
.signup-form button{
	background-color: #515151 !important;
	color: #EEEEEE;
	font-size: 18px;
	width: 122px;
	height: 45px;
	border-radius: 5px;
	margin-left: 37%;
	margin-top: 15px !important;
}
@media (max-width: 988px) {

	#main-fbtext, .reset-pass-form{
		width: 100% !important;
	}
	#main-logo{
	width: 60% !important;
	}
	#container{
		height: 650px;
	}
	.signup-form{
		width: 100%;
		min-width: 100%;
	}
	.signup-form button{
		margin-left: 30%;
	}
}
@media (max-width: 320px){
	.signup-form{
		font-size: 14px;
	}
}