#pro-start{
    		/*min-width: 320px;*/
	width: 180px;
}
.itemPro{
	margin: 5px;
	border: solid;
}
.itemPro:active{
	background-color: green;
	color: black;
}
#dis-num{
	width: 100%;
	min-width: 70px;
}
#dis-type{
	min-width: 60px;
}
table{
	width: 100vw;
	overflow-wrap: all;
}